<div class="container-fluid h-100">
  <div class="row  h-100  ">
    <div class="col-1 hidden-md-down justify-content-center" id="yellow" style="background-color: orangered; ">
        <ul class="text-center" style="list-style-type: none;">
          <li class="p-3" >
              
              <img src=" /img/image 4.png" style="width: 80%;" >
            </li>
            <li class="p-3" >
              
              <button class="btn p-0 m-0"><i class="fa fa-home" style="background: orangered; "></i></button>
            </li>
            <li  class="p-3">
             <button class=""><i class="fa fa-commenting-o"></i></button>
            </li>
             
            

        </ul>
    </div>
     {{!-- <div class="col-2 hidden-md-down" id="yellow" style="background-color: rgb(109, 68, 13);">
      XXXX
    </div>
    <div class="col-6 ">
      Form Goes Here
    </div>
    <div class="col-3 " style="background-color: aquamarine;">
      Form Goes Here
    </div> --}}
  </div>
</div>